extends ./layout.jade

block title
	title Page not found

append styles
	style.
		[role=alert]{position:relative;padding:1em 1em 1em 3em}
		[role=alert]::before{content:"404";position:absolute;left:1em;opacity:.25}
		form{max-width:12.5em;margin:0 auto;padding:2vw;font-size:24px}
		label,select,input,button{display:block;width:100%;height:2em;margin:.5em 0;padding:.25em .375em;background:#eee;border-radius:4px;font:inherit}
		label{margin:2em 0 -1em;background:transparent;font-size:50%;text-transform:uppercase}
		button{margin-top:2em;background:#d34b6c;color:#fff}
		:-ms-input-placeholder{color:#000}
		::-moz-placeholder{color:#000}
		::-webkit-input-placeholder{color:#000}
		::placeholder{color:#000}

mixin select(id, ext)
	label(for=id)= id
	select(id=id, name=id, size=1)
		option(value="") (none)
		each implementation in ["bookmarks", "calendar"]
			option #{implementation}.#{ext}
	
block content
	p(role="alert")
		| Not 
		a(href=".") a page
		|  we know of.
		br
		| How about creating your own:
	form(action=".", method="get")
		+select("style", "css")
		+select("script", "js")
		label(for="data") data
		input#data(name="data", type="text", placeholder="(none)")
		button(type="submit") Launch

append scripts
	script document.querySelector("form").addEventListener("submit",function(){var n=document.querySelectorAll("form [name]");for(var i=0;i<n.length;i++){if(!n[i].value){n[i].disabled=true}}});
